@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
    opacity: 0.5;
  }
  50% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
    opacity: 0.3;
  }
  80% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
    opacity: 0.5;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
    opacity: 0.5;
  }
  50% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
    opacity: 0.3;
  }
  80% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
    opacity: 0.5;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

#sw-container {
  max-width: 75rem;
}

nav a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #f8f9fa !important;
}

.card {
  max-width: 20rem;
  font-size: 1.5rem;
  font-weight: 800;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
}

.card img {
  min-height: 100%;
  max-height: 30vh;
}

.card:hover {
  -webkit-animation: pulse 0.5s;
          animation: pulse 0.5s;
  cursor: pointer;
}

#results-section {
  display: none;
  padding: 10%;
  text-align: start;
}

#results-section .heading {
  color: tomato;
}
